@import '../../../styles.scss';

#job-form{

    #question-job{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border: 3px solid $pipboy;
        padding: 1rem;
    }
    
    .input-wrapper{
        display: flex;
        align-items: center;
    }
}
