<div id="job-form" class="page">
  <h2>!!! QUESTIONNAIRE EN COURS DE CREATION !!!</h2>
  <p>sujet : {{ specialAccount.name }}</p>
  @if (questionIndex < 0) {
  <!-- INTRO PART -->
  <p>
    Les intustries VAULT-TEC qui recherchent actuellement dans
    {{ questions.length }} secteurs différents :
  </p>
  <ul>
    @for (question of questions; track $index) {
    <li>
      {{ question.type }} ({{ (($index + $index) * $index + 1) * 3 + rndJob }}
      postes)
    </li>
    }
  </ul>
  <button (click)="beginTest()">Commencer le test</button>
  } @else if (questionIndex >= this.questions.length) { @defer (on timer(1.2s))
  {
    <!-- FINISH BLOCK -->

  } @placeholder{ <app-logo-loader></app-logo-loader> } }@else {
      <!-- QUESTIONS BLOCKS -->
  <app-question
    [question]="questions[questionIndex]"
    (answer)="questionAnswer($event)"
  ></app-question>
  }
</div>
