<div id="job-form" class="page">


    <h2>!!! QUESTIONNAIRE EN COURS DE CREATION !!!</h2>




    <div id="question-job">

        <p>sujet : {{specialAccount.name}}</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit cumque atque, sit in magni consequuntur ?</p>

        <div class="input-wrapper">
            <input type="radio" name="question" id="A" value="A">
            <label for="A">consectetur adipisicing elit !</label>
        </div>

        <div class="input-wrapper">
            <input type="radio" name="question" id="B" value="B">
            <label for="B">consectetung elit ??!</label>
        </div>

        <div class="input-wrapper">
            <input type="radio" name="question" id="C" value="C">
            <label for="C">sed ectetur asicing it !</label>
        </div>

    </div>

    <button>Valider</button>

</div>
