



<div id="contact-page" class="page">

    <h2>crédits</h2>
    <p>Le site de Vault-Tec à était developpé sur angular 17 par des ingénieurs et developpeurs de la société Vault-Tec*</p>
    <p>en partenariat avec</p>
    <img src="../../../assets/nukacola.svg" alt="" srcset="">
    <p>tout les droits de Vault-tec sont reservé a la société </p>
    <img src="../../../assets/betheseta.svg" alt="" srcset="">



    <p>*Suite à des changements communication de Vault-Tec concernant son image de marque sur les nouveaux medias la réalisation du site internet de Vault-Tec à exeptionnelement était confié a une personne externe à la société. Vous trouverez ici toutes les informations à propos de la personne en charge du projet.</p>

    <div class="github-box">
        Afin de prouver aux detracteur de Vault-Tec les bonnes intentions de la société ainsi que sa tranparence concernant son but et ses agisement vous pouvez retrouverez l'intergralité du projet Vault-Tec sur le lien github public.
        <button href="https://fake-angular.io" (click)="navToGit()">allez au github</button>
    </div>


    <h2>Remerciments</h2>
    <ul>
        <li>Nukapedia: The Fallout Wiki : https://fallout.fandom.com/</li>
        <li>Betheseta : https://bethesda.net/</li>
    </ul>

    
    <p class="hint-box">Si vous souhaitez avoir des informations sur les abris Vault-Tec ou que vous vous sentez seul au point de parler avec un robot. Vous pouvez écrire à notre service client : FlemmeAutomatic, qui s'engage à vous répondre dans les {{responseDelay}} mois minimum.</p>
    <input type="email" name="email" id="">
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button>Envoyer</button>

</div>
