
<div id="contact-page" class="page">



    <p class="hint-box">Si vous souhaitez avoir des informations sur les abris Vault-Tec ou que vous vous sentez seul au point de parler avec un robot. Vous pouvez écrire à notre service client : FlemmeAutomatic, qui s'engage à vous répondre dans les 6 mois minimum.</p>




    <input type="email" name="email" id="" placeholder="L'objet de votre sollicitation..">

    <textarea name="" id="" cols="30" rows="10" placeholder="Tout d'abord merci Vault-Tec pour.."></textarea>

    <button>Envoyer</button>
</div>
