
@import '../../../styles.scss';


#footer{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin-top: 4rem;
        #footer-content{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 1rem;

        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                margin-bottom: 0.5rem;
                &::before{
                    content: ' --[';
                }
                &::after{
                    content: ']--';
                }
            }

            li{
                cursor: pointer;
                &:hover{
                    background: $pipboy;
                    color: $background;
                }
            }
        }
    }
}