<div id="footer">
  <p>------------footer------------</p>
  <div id="footer-content">
    <ul>
      <p>Vautl-tec recrutement</p>
      <li>nous contacter</li>
      <li>nous contacter</li>
      <li>nous contacter</li>
    </ul>
    <ul>
      <p>Sections autre</p>
      <li>nous contacter</li>
      <li>nous contacter</li>
    </ul>
    <ul>
      <p>exercises</p>
      <li [routerLink]="'strength-exercise'">strength</li>
      <li [routerLink]="'perception-exercise'">perception</li>
      <li [routerLink]="'endurance-exercise'">endurance</li>
      <li [routerLink]="'charisma-exercise'">charisma</li>
      <li [routerLink]="'intelligence-exercise'">intelligence</li>
      <li [routerLink]="'agility-exercise'">agility</li>
      <li [routerLink]="'luck-exercise'">luck</li>
    </ul>
  </div>
</div>
