<div id="special-page" class="page">
  <div id="chars-wrapper">
    <span class="char">S</span>
    <span class="char">P</span>
    <span class="char">E</span>
    <span class="char">C</span>
    <span class="char">I</span>
    <span class="char">A</span>
    <span class="char">L</span>
  </div>

  <div id="char-infos" class="box">
    <h3>Special ?</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, placeat
      praesentium, quasi optio blanditiis cumque error modi dicta perspiciatis
      doloribus, vel recusandae eaque totam ipsam.
    </p>
  </div>

  <button>je veux devenir special !</button>
</div>
