<div id="terminal-game">
  <div id="header">
    <p>robco industries (tm) termlink protocol</p>
    <p>!!! warning : lockout imminent !!!</p>
  </div>

  <div id="error-counter">
    <p>tentative restantes :</p>
    @for (_ of [].constructor(errorCount); track _) {
    <div class="error-marker"></div>
    }
  </div>

  <div id="game-wrapper">
    <div class="game-container">
      @for (hash of hashs; track hash) {
      <span class="hash-code" (click)="testHash(hash)">{{ hash | uppercase }}</span>
      }
    </div>

    <div id="logs">
      @for (log of logs.reverse(); track log) {
      <span class="log">{{ log }}</span>
      } @if (selectedWord) {
      <span class="log">{{ gameRunning ? selectedWord : '' }}</span>
      } @else {
      <p class="log-loader"></p>
      }
    </div>
  </div>
</div>
