<div class="page" id="luck-game">
  <form [formGroup]="guessForm" (ngSubmit)="onSubmit()">
    <div class="header">
      <div class="guess">
        <p>Estimez votre résultat</p>
        <input type="number" min="1" max="6" formControlName="firstGuess" />
        <input type="number" min="1" max="6" formControlName="secondGuess" />
        <input type="number" min="1" max="6" formControlName="thirdGuess" />
      </div>
      <div class="chance-remaining">
        @for (_ of [].constructor(throwRemainingCounter); track _) {
        <div class="error-marker"></div>
        }
        <p>Lancer restants</p>
      </div>
    </div>
    @if (!gameStarted) {
    <button type="submit" [disabled]="guessForm.invalid">
      Commencer l'exercice
    </button>
    }
  </form>

  <!-- GAME START ! -->
  @if(gameStarted){ @if (!gameFinish) {
  <div class="game-launched">
    <button type="button" (click)="throwDices()" [disabled]="gameFinish">
      Lancer les dés
    </button>
    <div class="dice-wrapper">
      <div class="dice">
        <app-dice #firstDice [locked]="rollLockArray[0]"></app-dice>
        <button
          type="button"
          class="keep-dice"
          (click)="keepDice(0)"
          [disabled]="
            throwRemainingCounter === maxThrow ||
            throwRemainingCounter <= 0 ||
            rollLockArray[0]
          "
        >
          Garder
        </button>
      </div>
      <div class="dice">
        <app-dice #secondDice [locked]="rollLockArray[1]"></app-dice>
        <button
          type="button"
          class="keep-dice"
          (click)="keepDice(1)"
          [disabled]="
            throwRemainingCounter === maxThrow ||
            throwRemainingCounter <= 0 ||
            rollLockArray[1]
          "
        >
          Garder
        </button>
      </div>
      <div class="dice">
        <app-dice #thirdDice [locked]="rollLockArray[2]"></app-dice>
        <button
          type="button"
          class="keep-dice"
          (click)="keepDice(2)"
          [disabled]="
            throwRemainingCounter === maxThrow ||
            throwRemainingCounter <= 0 ||
            rollLockArray[2]
          "
        >
          Garder
        </button>
      </div>
    </div>
  </div>

  } @else { 
    
    @if (roundWin) {
  <p>Vous avez reussi l'exercice avec succèes.</p>
  } @else {
  <p>Vous avez lamentablement raté l'exercice.</p>
  }
  <button>TERMINER L'EXERCICE</button>
  } }
</div>
