@import "../../../../styles.scss";

#luck-game {
  display: flex;
flex-direction: column;
gap: 2rem;

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

}

.header,
.gess,
.chance-remaining,
.game-launched {
  display: flex;
}

.header {  
  font-size: 1.2rem;
  flex-direction: column;
  gap: 2rem;

  .guess {
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    input {
      height: 1.5rem;
      width: 1.5rem;
      text-align: center;
    }
  }

  .chance-remaining {
    gap: 0.5rem;

  }
}

.game-launched {
  flex-direction: column;
  gap: 2rem;
  button {
    align-self: center;
    width: 20rem;
  }
}

.dice-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.dice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
