@import '../../../styles.scss';

#vault-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;


  .ruins{
    height: 5rem;
    width: 5rem;
    fill: $pipboy;
  }

  .vault-box{
    @include hint-img-box(url('/assets/ruins1.svg'), "N'attendez pas !")
  }

  .vault-loader {
    svg {
        height: 4rem;
        width:  4rem;
      fill: $pipboy;

      &:hover{
          animation: turn 5s linear infinite;
      }
    }
  }
}
