@import '../../../styles.scss';

#vault-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .opening-door{
    // transform: scale(1.2);

    svg #door{
      animation: openingDoor 5s ease-in infinite;
    }


  }

  .ruins{
    height: 5rem;
    width: 5rem;
    fill: $pipboy;
  }

  .vault-box{
    @include hint-img-box(url('/assets/ruins1.svg'), "N'attendez pas !")
  }

  .vault-loader {
    svg {
        height: 4rem;
        width:  4rem;
      fill: $pipboy;

      &:hover{
          animation: turn 5s;
      }
    }
  }
}




@keyframes openingDoor {
  0%, 100%{
    transform: rotateY(0deg) ;
  }
  100%{
    transform: rotateY(-90deg) ;
  }
}
