@import '../../../styles.scss';

#vault-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .vault-title {
    position: relative;
    padding-left: 56px;
    &::before {
      content: url('/assets/vault-icon.svg');
      display: block;
      top: 0;
      left: 0;
      position: absolute;
    }
  }

  .vault-loader {
    svg {
        height: 4rem;
        width:  4rem;
      fill: $pipboy;

      &:hover{
          animation: turn 5s linear infinite;
      }
    }
  }
}
