<form
  [formGroup]="consentForm"
  (ngSubmit)="onSubmit($event)"
  id="consent-form"
>
  <p>
    Chez Vault-Tec, nous nous engageons à fournir un abri sûr et confortable
    pour vous protéger des ravages de l'apocalypse nucléaire. Pour garantir
    votre sécurité et optimiser votre expérience dans nos installations, nous
    recueillons certaines données personnelles conformément à notre Politique de
    Protection des Données de l'Abri.
  </p>

  <p class="box">
    Veuillez lire attentivement les clauses ci-dessous avant de consentir à
    l'utilisation de vos données par Vault-Tec:
  </p>

  <p class="count-box">
    <span>Collecte et Utilisation des Données</span>
    En signant ce formulaire, vous
    autorisez Vault-Tec à collecter, stocker et utiliser vos données
    personnelles, y compris mais non limité à votre nom, votre âge, votre numéro
    d'identification unique Vault-Tec (VUID), vos habitudes alimentaires, vos
    préférences musicales et vos phobies post-apocalyptiques. Ces données sont
    utilisées dans le but de mieux vous servir et de garantir votre bien-être
    sous terre.
  </p>


  <p class="count-box">
    <span>Communication et Divulgation</span>
    Vous consentez à ce que Vault-Tec puisse
    communiquer vos informations personnelles à nos partenaires commerciaux, y
    compris des entités externes non identifiées, pour des raisons de sécurité
    et de marketing ciblé. Vos données peuvent également être partagées avec nos
    associés dans d'autres abris pour garantir une coordination efficace des
    ressources post-apocalyptiques.
  </p>



  <p class="count-box">
    <span>protection de vos données</span>
    Bien que nous nous efforcions de protéger vos données, veuillez noter que
    Vault-Tec ne peut garantir la sécurité totale des informations contre les
    menaces extérieures, y compris les super mutants, les robots défectueux et
    les entités surnaturelles. En signant ce formulaire, vous acceptez ce risque
    et libérez Vault-Tec de toute responsabilité en cas de fuite de données
    causée par des événements apocalyptiques.
  </p>

  <p class="hint-box">
    Votre consentement restera en vigueur indéfiniment ou jusqu'à ce que votre
    statut de résident de l'abri prenne fin, que ce soit par mutation,
    relocalisation ou autrement.
  </p>

  <label for="email">email</label>
  <input type="email" formControlName="email" id="email" />

  <span class="checkbox-container">
    <input type="checkbox" formControlName="consent" id="consent-checkbox" />
    <label for="consent"> En signant ci-dessous, vous confirmez que vous comprenez et acceptez les
      conditions énoncées dans ce formulaire. Vous reconnaissez que ce
      consentement est volontaire et que vous conservez le droit de refuser ou de
      retirer votre consentement à tout moment en notifiant Vault-Tec par écrit
      (si les services postaux existent encore).</label>
  </span>

  <!-- <img src="assets/vault-tec-logo-2.svg" alt="" /> -->

  <button type="submit" [disabled]="!consentForm.valid || sendLoading">valider</button>
</form>
