<div id="perk-block" (click)="toggleCard()">
  <div class="perk-card" [ngClass]="isReveal ? 'card-reveal' : 'card-hidden'">
    <!--  -->

    @if(!isReveal){
      <div class="front-card">
        <img
          [src]="'../../../assets/special/' + perkName + '.svg'"
          alt=""
          srcset=""
        />
        <span>{{ char }}</span>
      </div>
    }@else { 
      <div class="back-card">
        <span class="perk-name">{{ perkName }}</span>
        <div class="divider"></div>
        <p>{{ content }}</p>
      </div>
    }

    <!--  --> 
  </div>
</div>
