@import "../styles.scss";
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  #outlet {
    margin-top: 5rem;
    flex-grow: 1;
  }

  #header-menu {
    text-transform: uppercase;
  }

  app-footer{
    justify-self: flex-end;
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    li {
      cursor: pointer;
      padding: 0.4rem 0.8rem;

      svg {
        height: 2rem;
        width: 6rem;
        fill: $pipboy;
      }

      &:hover {
        color: $background;
        background: $pipboy;
        font-weight: 700;

        svg {
          fill: $background;
        }
      }
    }
  }
}

@keyframes brightness {
  0% {
    filter: brightness(1);
  }

  25% {
    filter: brightness(0.8);
  }

  50% {
    filter: brightness(1.1);
  }

  75% {
    filter: brightness(0.6);
  }
  100% {
    filter: brightness(1);
  }
}
