@import '../styles.scss';
#outlet {
  // display: flex;
  // align-items: center;
  // width: 100%;
  margin-top: 5rem;
}

#header-menu {
  text-transform: uppercase;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  li {
    cursor: pointer;
    padding: 0.4rem 0.8rem;

    svg {
      height: 2rem;
      width: 6rem;
      fill: $pipboy;
    }

    &:hover {
      color: $background;
      background: $pipboy;
      font-weight: 700;

      svg {
        fill: $background;
      }
    }
  }
}

@keyframes brightness {
  0% {
    filter: brightness(1);
  }

  25% {
    filter: brightness(0.8);
  }

  50% {
    filter: brightness(1.1);
  }

  75% {
    filter: brightness(0.6);
  }
  100% {
    filter: brightness(1);
  }
}
