@import "../styles.scss";
#outlet {
  margin-top: 5rem;
}

#sound-menu {

  $menu-height:6rem;


  position: sticky;
  bottom: -$menu-height;
  transition: bottom 100ms  linear;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &:hover{
    bottom: 0;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: $menu-height;
    outline: 4px solid $pipboy;
    padding: 0 1rem;
    background: $background;
  }

  .setting-btn {
    height: 3.5rem;
    width:  3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    background: $pipboy;

    &:hover{

      svg{
        animation: turn 5s;
      }
  }
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 10rem;
    height: 10px;
    outline: 4px solid $pipboy;
    background: none;
    opacity: 1;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 10px;
      height: 10px;
      background: $pipboy;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      width: 10px;
      height: 10px;
      background: $pipboy;
      cursor: pointer;
    }
  }
}

@keyframes brightness {
  0% {
    filter: brightness(1);
  }

  25% {
    filter: brightness(0.8);
  }

  50% {
    filter: brightness(1.1);
  }

  75% {
    filter: brightness(0.6);
  }
  100% {
    filter: brightness(1);
  }
}
