@import '../../../styles.scss';

#special-form-page{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#chars-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        height: 10rem;

  }