@import '../../../styles.scss';

#special-form-page {
  display: flex;
  // align-items: center;
  flex-direction: column;
  gap: 1rem;

  .special-container {
    align-self: center;
    height: 25rem;
    width:  25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }


  .perk-container {
    justify-content: center;
    align-items: center;
    // width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;

    .perk-name{
        height: 1.2rem;
    }
  }
}

#chars-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 10rem;
}

#char-infos{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 5rem;
  
}