<div id="special-form-page" class="subpage">
  
  <div class="special-container" >
      <img class="glitch" [src]="perkName  ? 'assets/special/' + perkName  +'.svg' : 'assets/vault-tec-logo-2.svg' " alt="spceial image">
  </div>  
  <div class="perk-container">
    <p class="perk-name">{{perkName | uppercase}}  </p>
    <p>{{ specialPointsCount }} / {{ maxSpecialPointsCount }}</p>
  </div>

  <div id="chars-wrapper">

    @for (char of specialKeys; track char) {
        <app-special-char-counter
        (charHover)="charHover($event)"
        [char]="char"
        [count]="special[char]"
        (updatePerk)="updatePeck($event)"
      ></app-special-char-counter>
    }
  </div>

  <div id="char-infos" class="box">
    <p>
      {{selectedPerk ? selectedPerk.desc : 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, placeat   praesentium, quasi optio blanditiis cumque error modi dicta perspiciatis doloribus, vel recusandae eaque totam ipsam.'}}
    </p>
  </div>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, placeat
    praesentium, quasi optio blanditiis cumque error modi dicta perspiciatis
    doloribus, vel recusandae eaque totam ipsam.
  </p>

  <button (click)="send()" [disabled]="specialPointsCount !== 0">envoyer</button>

</div>
