@import '../../../styles.scss';


#header-menu {
    text-transform: uppercase;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    li {
      cursor: pointer;
      padding: 0.4rem 0.8rem;
  
      svg {
        height: 2rem;
        width: 6rem;
        fill: $pipboy;
      }
  
      &:hover {
        color: $background;
        background: $pipboy;
        font-weight: 700;
  
        svg {
          fill: $background;
        }
      }
    }
  }