@import "../../../styles.scss";

#job-home-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  #header {
    h1 {
      padding: 0;
      margin: 0;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 3rem;

    .illustration {
      height: 18rem;
      width: 100%;
      overflow: hidden;
      position: relative;

      .intro {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        animation: appear 1s ease-in 1s both;
      }
    }


  }

  label {
    display: flex;
    gap: 0.5rem;
  }
  #key-wrapper {
    display: flex;
    input {
      flex-grow: 1;
    }
    button {
      border-left: none;
      height: max-content;
      font-size: 1.15rem;
    }
  }

  .hint-box,
  .lock-title {
    margin-top: 4rem;
  }

  .key-checker-block {
    padding: 1rem;
    border: 3px solid $pipboy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 6rem;
    text-align: center;
    gap: 0.5rem;
    app-logo-loader {
      transform: scale(0.8);
    }
  }

  .error-msg {
    &::before,
    &::after {
      content: " *** ";
    }
  }

  .error-marker {
    width: 0.5rem;
    background: $pipboy;
  }
}

@keyframes appear {
  from {
    top: 18rem;
  }
  to {
    top: 0;
  }
}

