@import "../../../styles.scss";

#job-home-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  #header {
    h1 {
      padding: 0.5rem;
      margin: 0;
      border: 8px solid $pipboy;
      transform: rotate(-1.5deg);
    }

    h3 {
      margin: 0.5rem;
      height: 1.2rem;
    }
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 3rem;

    .illustration {
      height: 22rem;
      width: 100%;
      overflow: hidden;
      position: relative;
      // background: hotpink;

      .intro {
        animation: appear 1s ease-in 1s both;
      }

      .vault-wrapper {
        position: relative;
        height: 30rem;
        width: 30rem;
        .vault {
          position: absolute;
          top: 0;
          left: 0;
          width: 30rem;
          animation: rotate 5s ease-in-out infinite;
        }
      }

      .vault-wrapper,
      .intro,
      .finish {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
      }

      .finish {
        top: 4.5rem;
      }
    }
  }

  label {
    display: flex;
    gap: 0.5rem;
  }
  #key-wrapper {
    display: flex;
    input {
      flex-grow: 1;
    }
    button {
      border-left: none;
      height: max-content;
      font-size: 1.15rem;
    }
  }

  .hint-box,
  .lock-title {
    margin-top: 4rem;
  }

  .key-checker-block {
    padding: 1rem;
    border: 3px solid $pipboy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 6rem;
    text-align: center;
    gap: 0.5rem;
    app-logo-loader {
      transform: scale(0.8);
    }
  }

  .error-msg {
    &::before,
    &::after {
      content: " *** ";
    }
  }

  .error-marker {
    width: 0.5rem;
    background: $pipboy;
  }
}

@keyframes appear {
  from {
    top: 22rem;
  }
  to {
    top: 4.5rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
