$pipboy: #2dc92d;
$pipboy-light: #2dc92d49;
$background: #1a1a1a;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  // margin: 0;
  // padding: 0;
  // border: 0;
  // font-size: 100%;
  vertical-align: baseline;
  font-family: "Space Mono", monospace;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  margin: 0;
  line-height: 1;
  background: $background;
  color: $pipboy;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 800;
  font-stretch: ultra-condensed;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}

button {
  background: $pipboy;
  color: $background;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.1rem;
  font-family: "Space Mono", monospace;
  border: $pipboy 3px solid;
  cursor: pointer;

  &:hover {
    background: none;
    color: $pipboy;
  }

  &:disabled {
    // background: yellow;
    color: $pipboy;
    background: none;
    &::before {
      content: url(assets/lock-icon-8.svg);
      height: 1rem;
      padding-right: 0.5rem;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $pipboy;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
textarea,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  background: none;
  border: $pipboy 3px solid;
  resize: none;
  color: $pipboy;
  padding: 0.5rem;
  font-size: 1.05rem;
  font-family: "Space Mono", monospace;

  &:focus {
    outline: none;
    border: $pipboy 3px solid;
  }
}

::-moz-selection {
  color: $background;
  background: $pipboy-light;
}

::selection {
  color: $background;
  background: $pipboy;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  appearance: none;
  border: 3px solid $pipboy;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    background: $pipboy;
    opacity: 0;
  }
  &:checked::before {
    opacity: 1;
  }
}

input[type="radio"] {
  border-radius: 100%;
  &::before {
    border-radius: 100%;
  }
}

@font-face {
  font-family: "chowderhead";
  src: url("assets/fonts/chowderhead.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontdinerSwanky";
  src: url("assets/fonts/FontdinerSwanky-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin hint-text-box($text) {
  @extend .box;
  position: relative;
  margin-top: 2rem;
  &::before {
    content: $text;
    display: block;
    position: absolute;
    color: $background;
    background: $pipboy;
    padding: 0.4rem 0.8rem;
    font-weight: 700;
    top: -2rem;
    left: 1rem;
  }
}

@mixin hint-img-box($url, $text) {
  border: $pipboy 3px solid;
  position: relative;
  padding: 2rem 2rem 2rem 10rem;
  &::after {
    content: $url;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: $background;
    background: $pipboy;
    padding: 0.4rem 0.8rem;
    inset: 0;
    width: 6rem;
  }
  &::before {
    content: $text;
    display: block;
    font-family: "Noto Sans Display", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
}

#screen {
  position: sticky;
  top: 0;
  height: 100vh;
  margin-top: -100vh;
  z-index: 999;
  pointer-events: none;
}

.select,
select {
  border: 4px solid $pipboy;
  height: 40px;
  background: none;
  color: $pipboy;
  &:focus{
    outline: none;
  }


  &::before{
    background: yellow;
  }
}

.select{
  display: flex;
  align-items: center;
  justify-content: center;
}

.effect-pref {
  box-shadow: 0 0 5vmin 1vmin rgba(0, 0, 0, 0.78) inset;
  animation: brightness 5s ease-in-out infinite;
}

.line-pref {
  background-image: linear-gradient(transparent, transparent, 3px, #222);
  background-size: 4px 4px;
}

.page {
  animation: blur 5s ease-in-out infinite;
  padding: 0 2rem;
}

.box {
  padding: 1rem;
  border: $pipboy 3px solid;
}

.hint-box {
  @include hint-text-box("HINT");
}

.vaultboy-box {
  @include hint-img-box(url("/assets/vaultboy.svg"), "super !");
}

.github-box {
  @include hint-img-box(url("/assets/github-bg.svg"), "github");
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vault-title {
  position: relative;
  padding-left: 56px;
  &::before {
    content: url("/assets/vault-icon.svg");
    display: block;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.error-marker {
  height: 1.1rem;
  width: 0.8rem;
  background: $pipboy;
}

.glitch {
  animation: glitch 8s ease-in infinite;
}

.cta {
  user-select: none;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  background: $pipboy;
  color: $background;
  font-weight: 800;
  width: fit-content;
  margin: 0.5rem 0;
  border: $pipboy 3px solid;
  cursor: pointer;

  &:hover {
    &::before {
      content: "->";
      margin-right: 0.5rem;
    }
  }

  &:active {
    background: none;
    color: $pipboy;

    &::before {
      content: "->";
      margin-right: 0.5rem;
    }
  }
}

body {
  animation: blur 5s ease-in-out infinite;
}

@media only screen and (min-width: 1824px) {
  .page {
    $size: 30%;
    width: $size;
    padding-left: calc((100% - $size) / 2);
    padding-right: calc((100% - $size) / 2);
    // height: 100vh;
  }
  .subpage {
    // width: max-content;
  }
}

.link {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blur {
  0% {
    filter: drop-shadow(0 0 1rem $pipboy-light);
  }

  25% {
    filter: drop-shadow(0 0 0.25rem $pipboy-light);
  }

  50% {
    filter: drop-shadow(0 0 2rem $pipboy-light);
  }

  75% {
    filter: drop-shadow(0 0 0.5rem $pipboy-light);
  }
  100% {
    filter: drop-shadow(0 0 1rem $pipboy-light);
  }
}

@keyframes glitch {
  0% {
    transform: skewX(15deg);
  }
  0.3% {
    transform: skewX(0deg);
    filter: brightness(1);
  }
  0.6% {
    transform: skewX(20deg);
    filter: brightness(1.5);
  }
  0.8% {
    transform: skewX(0deg);
    filter: brightness(1);
  }
  50% {
    transform: skewX(0deg);
    opacity: 1;
  }
  50.1% {
    transform: skewX(15deg);
    opacity: 0.5;
  }
  50.4% {
    transform: skewX(2deg);
  }
  51% {
    transform: skewX(0deg);
    opacity: 1;
  }
  55% {
    transform: skewX(0deg);
  }
  99% {
    transform: skewX(0deg);
  }
}
