@import '../../../styles.scss';

.vault-element, 
.vault-list,
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form{
    margin-bottom: 0.5rem;
}


.vault-list{
    padding: 1rem;
    border: 3px solid $pipboy;
    .vault-element{
        
    }
}